{% comment %}
  Shopify Wishlist
  Usage:
  - Markup: {%- render 'button-wishlist', product: product -%}
  - Place this snippet inside your existing product card snippet

  Parameters:
  - product: <Shopify product> (required)
{% endcomment %}

<style scoped>
  .active .icon {
    fill: #000000;
    stroke: #000000;
  }

  svg.icon.icon-heart path {
    fill: transparent;
  }
  .active svg.icon.icon-heart path {
    fill: rgba(var(--color-button), var(--alpha-button-background));
  }

  button.Favourite-button {
    width: 4.4rem;
    height: 4.4rem;
    padding: 1rem;
    border: 0px;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 9;
  }
  span.wishlist-wrapper {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 50%;
    padding: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg.icon.icon-heart-collection {
    width: 20px;
    height: 20px;
  }
</style>

{%- if customer -%}
  <button
    type="button"
    aria-label="Add to wishlist"
    class="wishlist_btn Favourite-button"
    button-wishlist
    data-product-image="{{ product.featured_image | image_url: width: 100 }}"
    data-product-vendor="{{ product.vendor }}"
    data-product-price="{{ product.price | money }}"
    data-product-handle="{{ product.handle }}"
    data-product-title="{{ product.title }}"
  >
    <span class="wishlist-wrapper">{%- render 'icon-heart-collection' -%}</span>
  </button>
{%- else -%}
  <button
    type="button"
    aria-label="Add to wishlist"
    class="Favourite-button"
    onclick="window.location='/account/login';"
  >
    <span class="wishlist-wrapper">{%- render 'icon-heart-collection' -%}</span>
  </button>
{% endif %}
